<div class="row">
    <div class="col-md-4">


        <!--Card-->
        <mdb-card cascade="true" wider="true">

            <!--Card image-->
            <div class="view overlay hm-white-slight waves-light" mdbWavesEffect>
                <img src="../../assets/IMG_4394.jpg"
                     class="img-fluid">
                <a>
                    <div class="mask"></div>
                </a>
            </div>
            <!--/Card image-->

            <!--Card content-->
            <mdb-card-body class="text-center">
                <!--Title-->
                <h2 class="card-title font-bold mb-2">Jessica Hastings</h2>
                <p>Software Engineer</p>
                <div class="icon-bar">
                    <i class="devicon-angularjs-plain colored"></i>
                    <i class="devicon-csharp-plain colored"></i>
                    <i class="devicon-dot-net-plain-wordmark"></i>
                    <i class="devicon-javascript-plain colored"></i>
                    <i class="devicon-python-plain colored"></i>
                    <i class="devicon-typescript-plain colored"></i>
                </div>

                <div>
                   <!--Linkedin-->
                    <a type="button" href="https://www.linkedin.com/in/jessica-hastings-092ba02b/" mdbBtn floating="true" size="sm" color="li" class=" waves-light" mdbWavesEffect><mdb-icon fab icon="linkedin-in"></mdb-icon></a>
                    <!--Github-->
                    <a type="button" href="https://github.com/jesshas" mdbBtn floating="true" size="sm" color="git" class="  waves-light" mdbWavesEffect><mdb-icon fab icon="github"></mdb-icon></a>
                    <!--Email-->
                    <a type="button" href="#materialContactFormName" mdbBtn floating="true" size="sm" color="email" class="  waves-light" mdbWavesEffect><mdb-icon fas icon="envelope"></mdb-icon></a>
                </div>

            </mdb-card-body>
            <!--/.Card content-->

        </mdb-card>
        <!--/.Card-->
        <app-contact></app-contact>

    </div>

    <div class="col-md-8">

        <!--Projects section v.2-->
        <section class="section text-center pb-3">

            <!--Section heading-->
            <!-- <h2 class="section-heading h1 pt-4"><strong>Latest projects:</strong></h2> -->
            <!--Section description-->

            <!--Grid row-->
            <div class="row d-flex justify-content-center">

                <!--Grid column-->
                <div class="col-lg-6 col-xl-5 mb-3">

                    <!--Card-->
                    <mdb-card cascade="true" narrower="wider" class="d-flex mb-5">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="../../assets/9c9c14438cf0a728816a13a6ea2c39e9.png"
                                 class="img-fluid" alt="">
                            <a href="#">
                                <div class="mask"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <mdb-card-body>
                            <!--Title-->
                            <h4 class="card-title font-bold mb-3"><strong>Product Development</strong></h4>
                            <!--Text-->
                            <p class="card-text">
                                Utilizing business requirements, Agile methodologies, and best practices to ship quality full-stack solutions and products;
                                automation and modernization of existing apps.
                            </p>
                        </mdb-card-body>

                        <!--Card footer-->
                        <div class="card-footer links-light">
                            <span class="right">
                                <a href="https://www.schwab.com/"
                                   class="waves-effect p-2">Learn more
                                    <mdb-icon fas icon="info" class="ml-1"></mdb-icon></a>
                            </span>
                        </div>

                    </mdb-card>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-6 col-xl-5 mb-3">

                    <!--Card-->
                    <mdb-card cascade="true" wider="true" class="d-flex mb-5">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="../../assets/srdRctxyQbmBWKzeKD0mHA_mini_405.jpg"
                                 class="img-fluid my-4" alt="">
                            <a href="#">
                                <div class="mask"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <mdb-card-body>
                            <!--Title-->
                            <h4 class="card-title font-bold mb-3"><strong>Startup Consulting</strong></h4>
                            <!--Text-->
                            <p class="card-text">Developed integrative, elegant iOS application for Early Stage healthcare start-up focused on wearables, IoT and bluetooth
                                connectivity; Constructed full-stack architecture including database design and APIs; selected for Y Combinator 2018 Advisor Track.
                                
                            </p>
                        </mdb-card-body>

                        <!--Card footer-->
                        <div class="card-footer links-light">
                            <span class="right"> 
                                <a href="https://ucardia.com/" class="waves-effect p-2">Watch
                                    <mdb-icon fas icon="eye" class="ml-1"></mdb-icon></a>
                            </span>
                        </div>

                    </mdb-card>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

            </div>
            <!--Grid row-->

            <!--Grid row-->
            <div class="row justify-content-center">

                <!--Grid column-->
                <div class="col-lg-6 col-xl-5 mb-3">

                    <!--Card-->
                    <mdb-card cascade="true" wider="true" class="d-flex mb-5">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                            <img src="../../assets/sxsw-logo-horizontal (1).png"
                                 class="img-fluid my-3 mx-auto" alt="">
                            <a href="#">
                                <div class="mask"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <mdb-card-body>
                            <!--Title-->
                            <h4 class="card-title font-bold mb-3"><strong>Speaker</strong></h4>
                            <!--Text-->
                            <p class="card-text">
                                    Discussed specific challenges facing those who work directly or indirectly with machine learning, including: acquiring quality data, automating machine learning, the democratization of data, and the computing infrastructure needed in the wake of the AI revolution. 
                                <br>
                                2018 - AI and Applied Mathematics
                                <br>
                                2019 - Machine Learning
                            </p>
                        </mdb-card-body>

                        <!--Card footer-->
                        <div class="card-footer links-light">
                            <span class="right"> 
                                <a href="../../assets/portfolio01.jpg" class="waves-effect p-2">Check it out
                                    <mdb-icon fas icon="camera" class="ml-1"></mdb-icon></a>
                            </span>
                        </div>

                    </mdb-card>
                    <!--/.Card-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-lg-6 col-xl-5 mb-3">

                    <!--Card-->
                    <mdb-card cascade="true" wider="true" class="d-flex mb-5">

                        <!--Card image-->
                        <div class="view overlay hm-white-slight">
                                <img src="../../assets/721354-200.png"
                                 class="img-fluid mx-auto animated pulse infinite " alt="">
                            <a href="#">
                                <div class="mask"></div>
                            </a>
                        </div>

                        <!--Card content-->
                        <mdb-card-body>
                            <!--Title-->
                            <h4 class="card-title font-bold mb-3"><strong>Freelance</strong></h4>
                            <!--Text-->
                            <p class="card-text">
                                Your application - my expertise. 
                                <br>
                                Simplified.
                                <br>
                                Responsive.
                                <br>
                                 Elegant.
                                 <br>
                                Let's start the conversation.
                                
                            </p>

                        </mdb-card-body>

                        <!--Card footer-->
                        <div class="card-footer links-light">
                            <span class="right"> 
                                <a href="#materialContactFormName" class="waves-effect p-2">Connect
                                    <mdb-icon fas icon="envelope" class="ml-1"></mdb-icon></a>
                            </span>
                        </div>

                    </mdb-card>
                    <!--/.Card-->

                </div>
              
            </div>
            <!--Grid row-->

        </section>
        <!--/Projects section v.2-->
    </div>


</div>
